body{
    font-family: "Amiri", serif;
        font-optical-sizing: auto;
        font-weight:bold;
        font-style: normal;
        background-color: rgb(40, 35, 35);
}

.header{
width: 100%;
min-height: 100dvh;
display: flex;
justify-content: center;
align-items: center;
}
.header .aya{
    
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    position: absolute;
    margin: 0 auto;

        color: #00e1ff;
        width: 90%;
        line-height: 110px;
        
}

.image{
    width: 100%;
}

.image img {
    width: 100%;
    height: 100vh ;
}

.asma h1{
    text-align: center;
    margin:25px auto;
    color: white;
    font-size: 3em;
    width: 85%;

}


.all div {

    background-color: aqua;
    border-radius: 10px;
    color: rgb(62, 59, 59);
    width: 60px;
    height: fit-content;
    padding: 15px;
    margin: 10px ;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.all div:hover{
    cursor: pointer;
    background-color: white;
    color: aqua;

}
.all{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 20px auto;
    align-items: center;
}

.rya{
    display: none;
}
.rya h1 {
    text-align: center;
    margin: 25px auto;
    color: white;
    font-size: 3em;
    width: 90%;

}

.allr .none {
    
    display: none;
   



}

.allr div {

    background-color: aqua;
    border-radius: 10px;
    color: rgb(62, 59, 59);
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.allr div:hover {
    cursor: pointer;
    background-color: white;
    color: aqua;

}

.allr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 20px auto;
    align-items: center;
}


.surah {
    display: none;
}

.surah h1 {
    text-align: center;
    margin: 25px auto;
    color: white;
    font-size: 3em;
    width: 90%;

}
.alls .none {

    display: none;




}

.alls div {

    background-color: aqua;
    border-radius: 10px;
    color: rgb(62, 59, 59);
    width: 90px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;



}

.alls div:hover {
    cursor: pointer;
    background-color: white;
    color: aqua;

}

.alls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 20px auto;
    align-items: center;
}

.audio audio{
    width: 90%;
    margin: 30px auto;
    
    }
.audio{
    margin:30px auto;
    text-align: center;
}



.video {
    text-align: center;
    width: 100%;
        height: 100vh;
        position: relative;
    }
    
    video{
            margin: 0px auto;
            width: 65%;
                position: absolute;
                bottom: 50%;
                left: 50%;
                transform: translate(-50%,50%);
        }


                .video .butt {
        
                    position: absolute;
                    text-align: center;
                    margin: 10px auto;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom:5%;     
                    display: flex;
        
                }
        
               

                .video h1 {
                    color: aqua;
                    position: absolute;
                    margin: 60px auto;
                    left: 50%;
                    transform: translateX(-50%);


                }

                a{
                        background-color: aqua;
                            border-radius: 10px;
                            color: rgb(62, 59, 59);
                            width: fit-content;
                            padding: 10px;
                            margin: 10px;
                            font-size: 13px;
                    text-decoration: none;
                    
                }

                a:hover{
                        cursor: pointer;
                            background-color: white;
                            color: aqua;
                    
                }

                        #myBtn {
                        
                        position: fixed;
                        bottom: 25px;
                        right: 45px;
                        z-index: 99;
                        border: none;
                        background-color: white;
                        color: black;
                        cursor: pointer;
                        padding: 15px;
                        border-radius: 15px;
                        width: 100px;
                        height: 45px;

                        }

                      .search{

                          
                          
                          display: flex;
                          justify-content: center;
                          align-items: center;

                          
                      }  
                        input {
                        height: 35px;
                        border: none;
                        color: #fff;
                        background-color: black;
                        padding: 2px;
                        margin: 5px auto ;
                        border-radius: 10px;
                        outline: none;
                        transition: 1s;
                        text-align:center;
                        width: 60% ;
                        
                    }
                    
                    input:focus {
                    border: none;
                    outline: none;
                    transform: scale(1.1);
                }
                    

                                .qare:nth-child(n+11) {
                                    display: none;
                                    /* إخفاء العناصر الإضافية */
                                }
                
                                .show-more {
                                    display: block;
                                    margin: 20px auto;
                                    background-color: white;
                                        border-radius: 15px;
                                        color: rgb(62, 59, 59);
                                        width: fit-content;
                                        height: fit-content;
                                        padding: 15px;
                                        cursor: pointer;
                                        border: none;
                                        
                                        font-size: 15px;
                                        text-align: center;
                                        transition: 0.5s;
                                    /* ضبط عرض ومسافة زر "إظهار المزيد" */
                                }